.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.addBtn {
  margin-bottom: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  border: 0 !important;
  width: 10%;
  background-color: #28a745 !important;
}
.input_wrapper {
  width: 100% !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.loader {
  padding: 15px;
  text-align: center;
  width: 260%;
}
.form {
  padding: 20px 0px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.red {
  color: red !important;
  margin-bottom: 5px;
}
.field {
  width: 75%;
  margin: 20px 0px !important;
}
